/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
/*@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300;500&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --lightgreen: #f0ffe8;
  --turqoise: #b2fad7;
  --brightgreen: #b2ffa8;
  --turquoisegreen: #93ff96;
  --lightbrightgreen: #d0ffb7;
  --lightblue: #b2f7fe;
  --black: #000000;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 300;
  background: var(--lightgreen);
}

form {
  flex-grow: 1;
}

.u-font {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 300;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-background-lightgreen {
  background-color: var(--lightgreen);
}

.u-background-turquoise {
  background-color: var(--turqoise);
}

.u-background-turquoisegreen {
  background-color: var(--turquoisegreen);
}

.u-background-brightgreen {
  background-color: var(--brightgreen);
}

.u-background-lightbrightgreen {
  background-color: var(--lightbrightgreen);
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}
.u-flex-alignVertical {
  flex-direction: column;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}
.u-spanning {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.u-pointer {
  cursor: pointer;
}

.u-noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@keyframes animate-fade {
  0% {opacity: 0; }
  100% {opacity: 1; }
}

@keyframes animate-fade-pop {
  0% {opacity: 0; transform: scale(0.5,0.5);}
  100% {opacity: 1; transform: scale(1,1);}
}

.u-fade-in-pop {
  animation-duration: 1s;
  animation-name: animate-fade-pop;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}

.u-fade-in {
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.u-hidden {
  visibility: hidden;
}