.buzzer {
  background-color: #b2ffa8;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  border-radius: 32px;
}
.login-button a {
  text-decoration: none;
}