.gamePlayer-name{
    text-align: right;
    font-size: 3.5vh;
    font-weight: 400;
}
.gamePlayer-score{
    text-align: right;
    font-size: 2.8vh;
}

.gamePlayer-buzzed{
    color:rgb(128,128,128);
}
.gamePlayer-name:hover{
    font-weight: 500;
}
