.game-buzzer{
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border-radius: 25px;
}

.inGame-container{
    display: flex;
    padding-top: 2rem;
    padding-left: 4rem;
}
.inGame-container-left{
    padding-right: 4rem;
}
.inGame-container-right{
    text-align: center;
}