.enterCode-button {
    font-size: 14px;
    border-radius: 15px;
    height: 30px;
    width: 75px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    display:flex;
    justify-content:center;
    color: 
}