.game-panel {
  background-color: #b2ffa8;
  border: none;
  color: black;
  padding: 500px, 400px;
  text-align: left;
  text-decoration: none;
  /*display: inline-block;*/
  display: flex;
  width: 1383px;
  height: 370px;
  top: 149px;
  left: 27px;
  margin: 20px;
  font-size: 32px;
  border-radius: 100px;
  justify-content: space-evenly;
}

.create-game-box {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  display: flex;
  width: 540px;
  height: 106px;
  top: 40px;
  left: 117px;
  font-size: 80px;
}

.join-game-box {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  display: flex;
  width: 454px;
  height: 106px;
  top: 40px;
  left: 827px;
  font-size: 80px;
}

/*li {
  border: 2px solid #b2ffa8;
  padding: 10px 400px 10px 10px;
}

ul {
  display: flex;
  list-style: none;
}*/
