.logo-backing {
  display: flex;
  background-color: var(--brightgreen);
  border-radius: 64px;
  margin-top: 32px;
  height: 250px;
  width: 250px;
  justify-content: center;
  align-items: center;
}

.home-instructions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home-instruction {
  display: flex;
  margin-right: 2rem;
  margin-left: 2rem;
  align-items: center;
  justify-content: center;
}

.home-circle {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  margin-right: 10px;
}

.login-button {
  background-color: #b2ffa8;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  border-radius: 32px;
}
.login-button a {
  text-decoration: none;
}
