.howtoplay-Container {
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 1vw;
  border-radius: 3vh;
  padding: 4vh;
}

.howtoplay-Container:hover {
  background-color: rgba(170, 247, 160, 0.3);
}

.howtoplay-Container-Login {
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 1vw;
  margin-top: 4vh;
  border-radius: 3vh;
  padding: 4vh;
}

.howtoplay-Container-Login:hover {
  background-color: rgba(170, 247, 160, 0.3);
}

.howtoplay-Text {
  display: flex;
  margin-left: 0;
  margin-right: 2vw;
  font-size: 5vh;
}


.howtoplay-number-container {
  width: 10vw;
  height: 7vh;
  width: 7vh;
  border-radius: 10vh;
  line-height: 7vh;
  vertical-align: middle;
  background-color: var(--turqoise);
  text-align: center;
  padding-right: 0;
  margin-left: 0;
  font-size: 5vh;
}

.howtoplay-Login-Container {
  text-align: center;
  border-color: var(--turqoise);
  border-width: 1.5vh;
  border-style: solid;
  border-radius: 1.5vh;
  padding: 1vh 1vw 1vh 1vw;
  margin-right: 2rem;
  width: 40vw;
  background-color: var(--lightgreen);
}
.howtoplay-Image-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-color: var(--turqoise);
  border-width: 1.5vh;
  border-style: solid;
  border-radius: 1.5vh;
  padding: 1vh 1vw 1vh 1vw;
  margin-right: 2rem;
  width: 40vw;
  background-color: var(--lightgreen);
}

@media (min-aspect-ratio: 2/3){
  .howtoplay-Text{
    width: 40vw;
  }
}

@media (max-aspect-ratio: 2/3) {
  .howtoplay-Image-Container{
    display: none;
  }
  .howtoplay-Login-Container{
    display: none;
  }
  .howtoplay-Text{
    width: 50vw;
    font-size: 3vh;
  }
}

.howtoplay-Login {
  max-height: 90%;
  max-width: 100%;
}

.howtoplay-Image {
  max-height: 100%;
  max-width: 100%;
}

.howtoplay-home_page_bottom {
  background-color: var(--lightgreen);
  height: 10%;
  display: flex;
  justify-content: center;
}

.howtoplay-home-button {
  /* padding: 1vh 1vw 1vh 1vw; */
  line-height: 3.5vh;
  height: 3.5vh;
  width: 13vh;
  vertical-align: middle;
  text-align: center;
  border-radius: 2vh;
  font-size: 2vh;
}

.howtoplay-home-button:hover {
  background-color: #aaf7a0;
}
