.howtoplay-Container{
    display: flex;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 1vw;
    margin-top: 5vh;
}

.howtoplay-Text{
    display: flex;
    width: 40vw;
    margin-left: 0;
    margin-right: 2vw;
    font-size: 5vh;
}

.howtoplay-number-container{
    width: 10vw;
    height: 7vh;
    width: 7vh;
    border-radius: 10vh;
    line-height: 7vh;
    vertical-align: middle;
    background-color: var(--turqoise);
    text-align: center;
    padding-right: 0;
    margin-left: 0;
    font-size: 5vh;
}

.howtoplay-Image-Container{
    text-align: center;
    width: 40vw;
    border-color: var(--turqoise);
    border-width: 1.5vh;
    border-style: solid;
    border-radius: 1.5vh;
    padding: 1vh 1vw 1vh 1vw;
    margin-right:2rem;
    
}

.howtoplay-Image{
    max-height: 90%;
    max-width: 100%;
}

.howtoplay-home_page_bottom{
    background-color: var(--lightgreen);
    height: 10%;
    display: flex;
    justify-content: center;
}

.howtoplay-home-button{
    padding: 1vh 1vw 1vh 1vw;
    line-height: 3.5vh;
    height: 3.5vh;
    vertical-align: middle;
    text-align: center;
    border-radius: 2vh;
    font-size: 3vh;
    border-style: solid;
    border-width: 0.3vh;
    border-color: red;
}

.howtoplay-home-button:hover{
    background-color: #aaf7a0;
}

