.profile-container-1 {
  flex-wrap: nowrap;
  display: flex;
}
.pfp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3vw;
  margin-right: 4vw;
  margin-top: 3vh;
  border-radius: 8vh;
  height: 35vh;
  width: 35vh;
  max-height: 32vw;
  max-width: 32vw;
}
/* .pfp-container > input {
  display: hidden;
} */

.pfp-mega-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.pfp {
  height: 40vh;
  max-height: 30vw;
}

.bio-container {
  margin-top: 3vh;
}
.profile-title {
  display: flex;
  align-items: flex-end;
  font-size: 6vh;
  max-width: 60vh;
}
.pfp-super-container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.name-edit {
  margin-left: 2vh;
  margin-bottom: 1.2vh;
  font-size: 3vh;
}

.name-edit:hover {
  font-size: 3.5vh;
  font-weight: 400;
}

.editBio-button {
  font-size: 2.5vh;
  border-radius: 5vh;
  height: 5vh;
  width: 6vw;
  min-width: 13vh;
  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
}
.bio-Content {
  height: 25vh;
  width: 40vw;
  font-size: 2.8vh;
  white-space: pre-line;
  overflow: hidden;
  background-color: var(--lightbrightgreen);
  margin-bottom: 3vh;
  border-radius: 3vh;
  padding: 2vh;
}

.spotify-name-flex {
  display: flex;
  flex-direction: row;
  width: 40vh;
  align-items: center;
}

.imageUpload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.bio-subContainer {
  display: flex;
  flex-direction: column;
}

textarea[type="text"] {
  width: 40vw;
  height: 25vh;
  resize: none;
  font-size: 2.8vh;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 300;
  border: none;
  outline: none;
  margin-bottom: 3vh;
  padding: 2vh;
  border-radius: 3vh;
  background-color: rgba(255, 255, 255, 0.6);
}
.submitBioEdit-button {
  font-size: 2.5vh;
  border-radius: 5vh;
  height: 5vh;
  width: 5vw;
  min-width: 10vh;
  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
}

#display_image {
  width: 300px;
  height: 169px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}

.inputNameValue {
  height: 8vh;
  font-size: 6vh;
  font-family: "Red Hat Text", sans-serif;
  border: none;
  outline: none;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.8);
}

.profile-lower-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-stats-text {
  font-size: 5vh;
  margin: 1vh 2vw 1vh 2vw;

}

.recentSongs-container {
  background-color: var(--lightbrightgreen);
  width: 88vw;
  margin: 5vh;
  padding: 2vh;
  border-radius: 5vh;
}

.profile-stat {
  font-size: 3.5vh;
  margin-top: 0.5vh;
  margin-left: 3vw;
}
.profile-stat-title {
  font-weight: 500;
}

.profile-recentSongs-text {
  font-size: 6vh;
  margin: 4vh 2vw 1vh 3vw;
}

.profile-songList {
  margin-left: 3vw;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5vh;
}

.profile-songInfo-wrapper {
  margin-right: 3vw;
  margin-bottom: 2vh;
}

.stats-container {
  width: 45vh;
  background-color: var(--lightbrightgreen);
  border-radius: 5vh;
  margin: 5vh;
  padding: 2vh;
  padding-bottom: 4vh;
}

.profile-no-songs-saved {
  font-size: 3vh;
}

.spotify-follow {
  width: 5vh;
  height: 5vh;
  vertical-align: middle;
  margin-right: 1.5vh;
}

.spotify-follow:hover {
  width: 6vh;
  height: 6vh;
}

.spotify-text {
  display: flex;
  vertical-align: middle;
  align-items: center;
  height: 8vh;
  margin-left: 3vw;
}

.follow-text {
  font-size: 4vh;
  margin-right: 1vw;
  color: black;
}

.rounded {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  object-fit: cover;
  width: 30vh;
  height: 30vh;
  z-index: 4;
}

.rounded-no-hover {
  border-radius: 50%;
  top: 42%;
  left: 48%;
  transform: translate(-50%, -50%);
  position: absolute;
  object-fit: cover;
  width: 30vh;
  height: 30vh;
  z-index: 4;
}

.rounded:hover {
  opacity: 0.7;
}
/* input[type="file"] {
  display: none;
} */
