.NavBar-container {
  background-color: var(--turqoise);
  padding: var(--s);
  margin: 0;
}

.NavBar-title {
  color: var(--black);
  font-size: 35px;
  margin: 1;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.NavBar-link {
  color: var (--black);
}

.NavBar-button {
  color: black;
  margin-left: auto;
  margin-right: 0;
}

.nav-title{
    color: black;
    font-size: 35px;
    justify-content: flex-start;
}

.nav-list-container{
    display: flex;
    background: turquoise;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
}


.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a{
    text-decoration: none;
    color: black;
}

.nav-item: first-child{
}