/*help from https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp*/

.NavBar-container {
  background-color: var(--turqoise);
  padding: var(--s) var(--s);
  margin: 0;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.NavBar-link {
  color: var (--black);
}

.NavBar-button {
  color: black;
  margin-left: auto;
  margin-right: 0;
}
.nav-title-container{
  width: 10vw;
  display: flex;
  align-items: center;
}

.nav-title{
    color: black;
    font-size: 6vh;
    justify-content: flex-start;
    margin-left: 3vw;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

.nav-title:hover{
  font-size: 6.2vh;
}
.nav-title a {
  color: black;
  font-size: 6vh;
  justify-content: flex-start;
  margin-left: 1rem;
  text-decoration: none;
}


.nav-list-container{
    display: flex;
    background:#86E7B8 ;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}



.nav-elements{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 3vw;
}


.nav-item {
    list-style: none;
    font-size: 3.5vh;
    text-align: center;
}

.fixed-width-play{
  width: 8vw;
}
.fixed-width-instructions{
  width: 14vw;
}
.fixed-width-profile{
  width: 8vw;
}
.fixed-width-log{
  width: 10vw;
}

.nav-item:hover {
  font-size: 4vh;
  margin: 0 0 0 0;
  font-weight: 400;
}

.nav-item a{
    text-decoration: none;
    color: black;
}

.navbar-dropdown {
  float: left;
  overflow: hidden;
}

.navbar-dropbutton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vh;
  width: 12vw;
  min-width: 20vh;
}
.navbar-dropbutton:hover{
  background-color: rgba(0,0,0,0.2);
}

.navbar-dropdown .navbar-dropbutton {
  font-size: 3.5vh;
  font-weight: 300;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
}

.navbar-drop-content {
  display: none;
  position: absolute;
  width: 12vw;
  min-width: 20vh;
  background-color: var(--lightbrightgreen);
  /* background-color:  */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  border-bottom-left-radius: 3vh;
  border-bottom-right-radius: 3vh;
}

.navbar-drop-elt{
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
}
.navbar-drop-elt2{
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  border-bottom-left-radius: 3vh;
  border-bottom-right-radius: 3vh;
}
.navbar-drop-elt:hover{
  background-color: rgba(0,0,0,0.1);
}
.navbar-drop-elt2:hover{
  background-color: rgba(0,0,0,0.1);
}

.navbar-dropdown:hover .navbar-drop-content {
  display: block;
}

@media (min-aspect-ratio: 8/5){
  .navbar-dropdown{
    display: none;
  }
}
@media (max-aspect-ratio: 8/5){
  .nav-elements .nav-item{
    display: none;
  }
}
