.options-button {
    /*position: absolute;*/
    width: 370px;
    height: 90px;
    /*left: 355px;
    top: 211px;*/
    font-size: 36px;
    background: #86e7b8;
    border-radius: 45px;
    text-align: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    justify-content: center;
  }
  
  .options-text {
    /*position: absolute;*/
    width: 296px;
    height: 48px;
    /*left: 36.5px;
    top: 21px;*/
    font-size: 36px;
    line-height: 48px;
    display: flex;
  }

  .options-panel-closed {
    display: none;
  }

  .options-panel-open {
    background-color: #1eff00;
    border: none;
    color: black;
    padding: 500px, 400px;
    text-align: left;
    text-decoration: none;
    /*display: inline-block;*/
    display: flex;
    /*position: absolute;*/
    width: 1383px;
    max-height: 370px;
    /*left: 28px;
    top: 561px;*/
    border-radius: 100px;
  }

  p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
