.playlist-display {
  display: flex;
}

.no-playlist-display {
  display: none;
}

.center {
  align-items: center;
}

.popup {
  position: absolute;
  left: 50%;
  top: 53vw;
  transform: translate(-50%, -50vw);
  border: 5px solid #d0ffb7;
  background-color: #d0ffb7;
  padding: 10px;
  opacity: 100%;
  width: 50vw;
  border-radius: 20px;
  z-index: 5;
  text-align: center;
}

.showPlaylists {
  width: 80%;
  display: inline-block;
  margin-top: 1vh;
}

.showGenres {
  display: inline-block;
  width: 70%;
  margin-top: 1vh;
}

.showSearch {
  display: inline-block;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
}

.options-button2 {
  background-color: rgba(134, 231, 184, 0.7);
  border: none;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  min-width: 35vh;
  height: 13vh;
  width: 22vw;
  margin-left: 2vw;
  margin-right: 2vw;
  padding-top: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 5vh;
  /*position: absolute;*/
}
.options-button2:hover {
  background-color: rgba(134, 231, 184, 1);
  font-weight: 400;
}

/*.input{
display: inLine;
}

.text {
font-size: 22px;
font: "Red Hat Text", sans-serif;
font-weight: 400;
}

.label{
    display: inline-block;
}

.form-control {
  font-family: "Red Hat Text", sans-serif;
  font-size: 20px;
}


:root {
  --form-control-color: #b2fad7;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.title {
font-size:60px;
}

.checkboxes {

  display: inline-block;

  padding-right: 10px;

  white-space: nowrap;

}*/

input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

input[type="number"] {
  width: 2.3vw;
  height: 3.7vh;
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white;
  font-family: "Red Hat Text", sans-serif;
  font-size: 2vh;
}

label {
  display: block;
  width: 125px;
  height: 60px;
  background-color: white;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 20px #477a8550;
  border: black;
}

label::after {
  content: "";
  width: 45px;
  height: 45px;
  background-color: #e8f5f7;
  position: absolute;
  border-radius: 70px;
  top: 8px;
  left: 8px;
  transition: 0.5s;
}

input:checked + label:after {
  left: calc(100% - 10px);
  transform: translateX(-100%);
}

input:checked + label {
  background-color: #69f06d;
}

label:active:after {
  width: 160px;
}

.text {
  font-size: 3.5vh;
  font: "Red Hat Text", sans-serif;
  font-weight: 200;
  display: flex;
  text-align: left;
  align-items: left;
  justify-content: left;
}

.title {
  font-size: 60px;
  text-align: center;
  margin-bottom: 2vh;
  margin-top: 2vh;
  font-weight: 350;
}

.row {
  display: flex;
  flex-direction: row;
}

.column1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column-marginright {
  margin-right: 2vw;
}
.left-align {
  align-items: left;
}

.space_between {
  justify-content: space-between;
  display: flex;
}

.space_evenly {
  justify-content: space-evenly;
}

.align-right {
  align-items: right;
}

.add-margin-top {
  margin-top: 2vh;
}

.options-button {
  /*position: absolute;*/
  width: 20vw;
  height: 15vh;
  margin-right: 2vw;
  /*left: 355px;
    top: 211px;*/
  background: #86e7b8;
  border-radius: 10vh;
  text-align: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  justify-content: center;
}

.options-button:hover {
  background: #73e3ad;
  font-weight: 400;
}

.options-text {
  font-size: 4vh;
  text-align: center;
  margin-bottom: 1vh;
}
.options-description {
  font-size: 2.5vh;
}

.options-panel-closed {
  display: none;
}

.inline {
  justify-content: center;
  align-items: center;
  display: flex;
}

.options-panel-open {
  background-color: #1eff00;
  border: none;
  color: black;
  padding: 500px, 400px;
  text-align: left;
  text-decoration: none;
  /*display: inline-block;*/
  display: flex;
  /*position: absolute;*/
  width: 1383px;
  max-height: 370px;
  /*left: 28px;
    top: 561px;*/
  border-radius: 100px;
}

p,
label {
  font: 1rem "Fira Sans", sans-serif;
}

input {
  margin: 0.4rem;
}

html,
body {
  margin: 0px;
  height: 100%;
}

:root {
  --form-control-color: #b2fad7;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.showChoices {
  display: inline-block;
  width: 90%;
  margin-top: 1vh;
}

.spacing1 {
  background-color: #d0ffb7;
  width: 5vh;
  height: 5vh;
}

.cancel-submit {
  background-color: white;
  border: none;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  height: 6vh;
  width: 3vw;
  min-width: 20vh;
  border-radius: 3vh;
  font-size: 4vh;
  margin-top: 3vh;
  /*position: absolute;*/
}

.cancel-submit:hover {
  background-color: #93fe97;
}

.cancel-submit-marginleft {
  margin-left: 2vw;
}
