.select-song-window1 {
  /*position: absolute;*/
  /*   left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
  background-color: var(--brightgreen);
  border-radius: 3vh;
  height: 35vh;
  opacity: 100%;
  width: 40vw;
  margin-left: 3vh;
  overflow-y: hidden;
}

.selectSong-add-music {
  font-size: 3.5vh;
  text-align: center;
  background-color: var(--lightbrightgreen);
  padding: 2vh 1vw 2vh 1vw;
  border-radius: 4vh;
}

.selectSong-add-music:hover {
  font-weight: 400;
}

.selectPopup-header1 {
  border-top-left-radius: 4vh;
  border-top-right-radius: 4vh;
  padding-top: 2vh;
  padding-left: 3vw;
  padding-bottom: 1vh;
  background-color: var(--brightgreen);
  display: flex;
}

.selectPopup-content1 {
  height: 23vh;
  overflow-y: scroll;
}

.selectPopup-footer1 {
  bottom: 0;
  width: 40vw;
  height: 10vh;
  border-bottom-left-radius: 3vh;
  border-bottom-right-radius: 3vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  background-color: var(--brightgreen);
  display: flex;
}

.close-select-button {
  background-color: var(--lightgreen);
  padding: 2vh 2vw 2vh 2vw;
  width: 15vh;
  text-align: center;
  border-radius: 4vh;
}

.close-select-button:hover {
  font-weight: 400;
}

.searchButton {
  background-color: #f0ffe8;
  border-radius: 10px;
  padding-left: 2vh;
  padding-right: 2vh;
  height: 4vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.searcbButton:hover {
  background-color: #93ff96;
}

.searchButton-text {
  font-size: 2vh;
  margin-top: 0.5vh;
}

.selectSonginline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.displayInLine {
  display: inline-block;
}
