.game-panel {
  background-color: #b2ffa8;
  text-align: left;
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  width: 90vw;
  height: 50vh;
  border-radius: 5vw;
  justify-content: space-between;
  
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction:row;
}

.create-game-box {
  text-align: center;
  padding-top: 3vh;
  font-size: 12vh;
  margin-bottom: 10vh;
}

.join-game-box {
  text-align: center;
  margin-bottom: 10vh;
  font-size: 12vh;
  flex-direction: column;
  align-items: center;
}

.rand-line {
  border-left: 0.3vw solid black;
  height: 50vh;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.create {
  align-items: center;
}

.join {
  align-items: center;
}

.actual-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.createGame-panel{
  display: flex;
  flex-direction: column;
  width: 70vw;
  background-color: var(--brightgreen);
  margin: 5vh 1vw 5vh;
  padding: 2vh 2vw 2vh 2vw;
  border-radius: 5vh;
  align-items: center;
}

.create-game-text{
  font-size: 6vh;
  padding-bottom: 1.5vh;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.gameJoin-container{
  display: flex;
}

.joinGame-panel{
  background-color: var(--brightgreen);
  padding: 2vh 2vw 2vh 2vw;
  border-radius: 5vh;
  width: 30vw;
  height: 30vh;
}

.joinGame-container{
  margin: 5vh 5vw 5vh 1vw;
}

.joinGame-description{
  width: 30vw;
  margin-top: 2vh;
  margin-left: 1vw;
  font-size: 3vh;
}

.join-game-text{
  font-size: 6vh;
  margin-top: 4vh;
}

.join-game-input-container{
  font-size: 3.5vh;
  font-weight: 400;
  display: flex;
  flex-direction: row;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamePage-container{
  margin-left: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 6vw;
}

.publicGames{
  align-items:center;
  justify-content: center;
}


