 .enterCode-button {
    padding-right: 2vh;
    padding-left: 2vh;
    height: 4vh;
    border-radius: 2vh;
    text-align: center;
    display:flex;
    justify-content:center; 
    background-color: rgba(134, 231, 184, 0.7);
}

.join-game-input {
    width: 10vw;
    height: 3.5vh;
    font-size: 3vh;
    font-family: "Red Hat Text", sans-serif;
}

.searchButton {
  background-color: #f0ffe8;
  border-radius: 10px;
  padding-left: 2vh;
  padding-right: 2vh;
  height: 4vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.gameCodeinline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vh;
  justify-content: space-evenly;
}

.enterCode-button:hover {
    background-color:#73e3ad;
    font-weight: 400;
}

.enterGameCode{
    font-size: 10vh;
    margin-top:30vh;
}

.invalid {
    margin-top: 1.5vh;
    font-size: 2.5vh;
}

.submitText {
    font-size: 2.8vh;
}

.gameCodeRow {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin-top: 2.5vh;

}

.invalidColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}